
input, textarea, select{
    appearance: none;
    width: 100%;
    height: 48px;
    border-radius: 0.5rem;
    border: 1px solid  var(--input-base);
    background-color: var(--input-base);
    padding: 0.80rem 1rem;
    outline: none;
    


}
input::placeholder{
    font: var(--text-md);
    color: var(--input-placeholder);   
}

input{
    margin-top:0.75rem ;
    font: var(--text-md);
    color:var(--text-heading);
    &:hover{
        border: 1px solid var(--brand-light);
    }
    
}

