.radio-inner {
    width: 17rem;
    height: 3rem;
    border: 1px solid;
    border-radius: .5rem;
    position: relative;
    padding: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
  
    
    gap: 0.25rem;

    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border: none;

    font-size: 0.875rem;
    position: relative;

    & input,
    & input:focus,
    & input:hover{
        all: unset;
        position: absolute;
    }

   
    
}

.radio-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    height: 2.5rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
    text-align: center;

    
    & label{
        font: var(--font-family);
        color: var(--text-body);
        font-size:var(--text-sm);
    }
    
    &:hover {
        background-color: var(--shape-button);
        font-weight: 600;
        stroke: #59B2FF;
        
        
        
      
        & label{
            font: var(--font-family);
            color:var( --text-heading);
            font-size:var(--text-sm);
        }

            
        
        
    }

    &:has(:checked){
        background-color: var(--shape-button);
        font-weight: 600;
        stroke: #59B2FF;
      
        
        
        
      
        & label{
            font: var(--font-family);
            color:var( --text-heading);
            font-size:var(--text-sm);
        }

    }
        
        
    
}



