* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
       
}

:root {
    /* estilo */
        /* fonte corpo */
    --font-family:"Open Sans", sans-serif;
    --text-md:400  1rem var(--font-family);
    --text-sm:400 .875rem var(--font-family);
    --text-xs:400 .75rem var(--font-family);
    
    --font-family-heading:"Baloo 2", sans-serif;
    --heading-md:700 1.75rem var(--font-family-heading);
    --heading-sm:700 1.125rem var(--font-family-heading);


    --font-family-logo: "Leckerli One", sans-serif;
    --logo: 400 2.5rem var(--font-family-logo);

    /* cores */

    --brand-light:#59B2FF;
    --brand-mid:#3487CF;
    --brand-dark:#1D6FB6;
    /* texto */
    --text-body:#C8CDD0;
    --text-heading:#F9F9F9;
    /* shape */
    --shape-background:#131516;
    --shape-body:#212427;
    --shape-button:#2D3136;
    --shape-hover:#383D42;
    /* input */
    --input-base:#1C1F21;
    --input-stroke:#363B40;
    --input-placeholder:#869198;
    /* feedback */
    --danger:#FF5959;
    /* cores */
    --pink:#FF598B;
}


body{
    background-color: var(--shape-background);
    margin: 1.25rem;
    overflow: hidden;
}

aside{
    & p{
        font: var(--text-md);
        color: var(--text-heading);
        font-weight: 300;
    }
}

h1{
    font: var(--logo);
    color: var(--pink);

}
h2{
    font: var(--heading-md);
    color: var(--text-heading);
    padding-bottom:2.5rem ;
}

h3{
    font: var(--heading-sm);
    color: var(--text-heading);
 
}

img{
    max-width: 100%;
}
main{
    & label{
        font: var(--text-sm);
        color:var(--text-body);
        
        
        
    }
}

